$go-logo-orange: rgb(255, 107, 0);

$go-primary:        #263238 !default;
$go-primary-light:  #4f5b62 !default;
$go-primary-dark:   #000a12 !default;

$go-secondary:        #ff6b00 !default;
$go-secondary-light:  #ff9c40 !default;
$go-secondary-dark:   #c43a00 !default;

$go-charcoal:       #212121 !default;
